<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet">
        <activity android:name=".ExerciceHistoireGeoActivity"></activity>
        <activity android:name=".ExerciceFrancaisResultActivity" />
        <activity android:name=".ExerciceSoustractionActivity" />
        <activity android:name=".ExerciceFrancaisActivity" />
        <activity android:name=".ExerciceAdditionResultActivity" />
        <activity android:name=".ErreurTableMulActivity" />
        <activity android:name=".TableMultiplicationActivity" />
        <activity android:name=".ExerciceAdditionActivity" />
        <activity android:name=".FelicitationTableMulActivity" />
        <activity android:name=".ExerciceMultiplicationActivity" />
        <activity android:name=".ExerciceMathActivity" />
        <activity android:name=".listeMatiereActivity" />
        <activity android:name=".ConnectionActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddUserActivity" />
    </application>

</manifest>